[user]
	name = Harry Sadoyan
	email = harrysadoyan@gmail.com
 
[color]
  branch = auto
  diff = auto
  status = auto

[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  co = checkout

[core]
  excludesfile = ~/.gitignore_global
